/* Estilo para el fondo del formulario */
.registerForm {
  -fx-background-color: #000; /* Fondo negro */
}

.line-button {
  -fx-background-color: transparent; /* Fondo transparente */
  -fx-text-fill: #ffffff; /* Color del texto */
  -fx-font-size: 14px;
  -fx-padding: 5 10 5 10; /* Espacio alrededor del texto (arriba, derecha, abajo, izquierda) */
  -fx-border-color: white; /* Borde inferior blanco al pasar el mouse sobre el botón */
  -fx-border-width: 0 0 2 0; /* Grosor de la línea inferior */
}

.curved-button {
  -fx-background-color: #ffffff; /* Color de fondo del botón */
  -fx-text-fill: #000000; /* Color del texto del botón */
  -fx-font-size: 28px; /* Tamaño del texto del botón */
  -fx-background-radius: 5px; /* Radio de curvatura de 5px para el fondo del botón */
  -fx-padding: 5 10 5 10; /* Espacio alrededor del texto (arriba, derecha, abajo, izquierda) */
}